

body
{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 100%;
}

header
{
    background-color: #F2F2F2;
}

h2
{
    font-weight: bold;
    font-size: 24px;
    color: inherit;
}

a
{
    color: inherit;
}

#logo
{
    font-weight: 300;
    font-family: 'roboto slab', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0;
}

#logo span
{
    margin-left: -5px;
}

#logo span:first-child
{
    font-weight: bold;
}

#logo span:nth-child(2)
{
    font-weight: 100;
}

.menu
{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #4A4A4A;
    text-transform: capitalize;
}

.menu a:hover
{
    color: #8E8E8E;
}

main
{
    height: 100vh;
    background-image: url('img/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

main h2
{
    font-size: 48px;
    font-weight: bold;
}

main p
{
    font-size: 24px;
}

main .row
{
    height: 100vh;
    display: flex;
}

main .row .columns:nth-child(1)
{
    margin-top: 220px;
}

main .row .columns:nth-child(1) p
{
    font-weight: 300;
}

main .row .columns:nth-child(2)
{
    margin-bottom: 80px;
}

main form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

main form input[type="email"]
{
    background-color: transparent;
    border: 2px solid #D8D8D8;
    border-radius: 4px;
    width: 335px;
    height: 48px;
    text-align: center;
    font-size: 18px;
}

.orange-button
{
    background-color: #E44207;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.50);
    border-radius: 4px;
    padding: 10px 0;
    font-weight: 700;
    font-size: 24px;
    transition: all 0.2s ease-out;
}

.orange-button:hover
{
    background-color: #FF661B;
}

main .orange-button
{
    width: 335px;
    margin-top: 20px;
}

.triangle-border
{
    width: 172px;
    position: relative;
    padding: 5px;
    margin: 20px auto;
    border: 1px solid #fff;
    color: #fff;
    background: rgba(0, 0, 0, 0) !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 100px;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease-out;
}

.triangle-border:before
{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 65px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.triangle-border:hover
{
    color: #000;
    background: #fff !important;
    cursor: pointer;
}

#how-it-works
{
    padding: 20px 0 60px 0;
}

#how-it-works .orange-button
{
    width: 250px;
    height: 48px;
    color: #fff;
}

#how-it-works h1
{
    font-size: 36px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
    padding: 40px 0;
    text-transform: capitalize;
}

#how-it-works p
{
    font-size: 18px;
    font-weight: 600;
    color: #4A4A4A;
    text-align: center;
    margin: 40px 0;
}

#faq
{
    color: #fff;
    background-image: url('img/faq-bg.jpg');
    padding: 60px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#faq h2
{
    padding: 20px 0 60px 0;
}

#faq h3
{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

#faq .row .columns
{
    padding: 0 20px;
}

#faq .triangle-border {
    margin-top: 40px;
}

#contact form .orange-button {
    width: 100%;
    heigth: 40px;
    color: #fff;
}

#contact form input,
#contact form textarea {
  height: 40px;
  background: #D8D8D8;
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.50);
  border-radius: 4px;
}

#contact form textarea {
    min-height: 110px;
}
